  <div id="header">
    <!-- Start Logo -->
    <a href="/Home/"><img src="../IMG/logo.png" alt="Logo" id="logo"></a>

    <p id="slogan">An Open Source Startup</p>

    <!-- End Logo -->

    <div class="clear"></div>

    <ul class="superfish nav clearfix sf-js-enabled">
      <li class="current_page_item"><a href="/Home">Home</a></li>
      <li class="current_page_item"><a href="/Projects">Projects</a></li>
      <li class="current_page_item"><a href="/Team">Team</a></li>
      <li class="current_page_item"><a href="/About">About</a></li>
      <li class="page_item page-item-31"><a href="mailto:team@enlightenedstructure.org">Contact</a></li>
    </ul>
    <!-- end ul.nav -->

  </div>
  <!-- end #header -->
