  <div id="header">
    <!-- Start Logo -->
    <a href="/Home/"><img src="/IMG/logo.png" alt="Logo" id="logo"></a>

    <p id="slogan">An Open Source Startup</p>

    <!-- End Logo -->

    <!-- Start Searchbox -->
      <div id="search-form">
        <form method="get" id="searchform1" action="http://google.com/search">
          <fieldset role="search">
            <input type="hidden" name="q" value="site:enlightenedstructure.org" />
            <input class="search" type="text" id="searchinput" name="q" value="search this site..." results="0" placeholder="Search"/>
          </fieldset>
        </form>
      </div>
    <!-- End Searchbox -->

    <div class="clear"></div>

    <ul class="superfish nav clearfix sf-js-enabled">
      <li class="current_page_item"><a href="/Home">Home</a></li>
      <li class="current_page_item"><a href="/Projects">Projects</a></li>
      <li class="current_page_item"><a href="/Team">Team</a></li>
      <li class="current_page_item"><a href="/About">About</a></li>
      <li class="page_item page-item-31"><a href="/Contact">Contact</a></li>
    </ul>
    <!-- end ul.nav -->

  </div>
  <!-- end #header -->
