<div class="entry clearfix">

  <h2 class="title"><a href="/Software_Zero">Software Zero</a></h2>

  <p class="post-meta">
    Posted by Jack Senechal
  </p>

  <a href="/Software_Zero"><img width="164" height="164"
         src="/IMG/massively-parallel-academic-research-sys1-300x200-2-164x164.png"
         class="thumbnail-post alignleft wp-post-image" alt="Trust Exchange" title="Trust Exchange"/></a>
  <p>
    The mission of Enlightened Structure Software Zero is to create a platform for swarm intelligence to
    collaborate on a project, while retaining the edits and contributions of every author throughout the history
    of the collaboration. This "branching" of creative works encourages a diversity of perspectives that can be
    interwoven in a creative network of any scale...
  </p>

  <a class="readmore" href="/Software_Zero"><span>Read More</span></a>

  <div class="clear">&nbsp;</div>
</div>

<div class="entry clearfix">

  <h2 class="title"><a href="/Trust_Exchange">Trust Exchange</a></h2>

  <p class="post-meta">
    Posted by Harlan Knight Wood
  </p>

  <a href="/Trust_Exchange"><img width="164" height="136"
         src="/IMG/the-trust-exchange-164x136.png"
         class="thumbnail-post alignleft wp-post-image" alt="Trust Exchange" title="Trust Exchange"/></a>

  <p>Superseding the Scarcity Economy :::
    The Trust Exchange utilizes the network of trust relationships that already exist, making them visible, interlinked
    and actionable. Most of our decisions are based on collective opinions and discernment, particularly those of
    friends we trust. The Trust Exchange brings visibility to your friends’ ratings of products, companies, websites,
    and more. In...</p>
  <a class="readmore" href="/Trust_Exchange"><span>Read More</span></a>

  <div class="clear">&nbsp;</div>
</div>

<div class="entry clearfix">

  <h2 class="title"><a href="/Core_Network">The Core Network</a></h2>

  <p class="post-meta">
    Posted by Adam Apollo
  </p>

  <a href="/Core_Network"><img width="164" height="164" src="/IMG/buckyball-164x164.png"
         class="thumbnail-post alignleft wp-post-image" alt="The Core Network" title="The Core Network"/></a>

  <p>Geometric System Interface :::
    The Core Network is a social browser and visual interface based on the geometry and physics of space-time itself. It
    traces our interactions and relationships with information displayed using colors and geometric shapes, while
    organizing them by shared keywords, categories, and proximity references. Through this organization of personal
    preferences and community...</p>
  <a class="readmore" href="/Core_Network"><span>Read More</span></a>

  <div class="clear">&nbsp;</div>
</div>
